* {
  box-sizing: border-box;
  font-family: serif;
  --main-bg-color: #8b99e8;  /*Dark purple*/
  --main-nav-color: #5d5172; /*Light purple*/
  --lighterPurple: #d6cee0; /*line chart purple*/
  --twitterBlue: #00aced; /*twitterBlue*/
  --faceBookBlue: #3b5998; /*facebookBlue*/
}

p {
  padding: .4em;
  margin: 0;
  color: white;
}
a {
  text-decoration: none;
  color: var(--main-bg-color);
}

div#top {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;

}
span#border-top {
display: inline-block;
border-left: 1px solid var(--main-nav-color);
height: 40px;

}
span#profile-name {
  margin-left: 10px;
  color: white;
  margin-right: 10px;
}

div#app {
font-size: 1.3em;
letter-spacing: 1px;

}
div#flex-end {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
div#nav-bar {
  background: var(--main-nav-color);
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1em;

}
input#top-search {
  display: block;
  margin: auto;
  width: 95%;
  border-radius: .5em;
  margin-top: .3em;
  padding: .5em;

}
h2, h3 {
  width: 100%;
  margin: .6em auto;
  text-align: center;
}

svg {
display: inline-block;
padding-right: 40px;
}

.flexIt {
  display: flex;

}
span.social_Media {
   margin-left: 3.5em;
   margin-top: .3em;
   display: block;
}
span.amount {
  font-size: 2em;
  margin-left: 2em;
}
span.widget-name {
 color: black;
 width: 90%;
 font-size: .9em;
 margin-left: 1em;


}
 span.email{
  color: black;
  margin-left: 1em;

}
img.avatar_ok {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;

}
div.widget-flex {
  display: flex;
  justify-content: space-between;

}
div.wiget-container{
  padding: 1em;

}
input#search-user {
  display: block;
  margin: auto;
  width: 95%;
  border-radius: .5em;
  margin-top: .3em;
  padding: .5em;
}

textarea {
  width: 95%;
  margin: auto;
  display: block;
  border-radius: .5em;
  margin-top: .3em;
  border: 2px solid gray;
}
button#send {
  background-color: var(--main-nav-color);
  color: #fff;
  width: 95%;
  margin: auto;
  display: block;
  border-radius: .5em;
  margin-top: .3em;
  padding: 1em;

}
.toggle {
  
}
